@using Telerik.Web.Mvc.UI;
@model IEnumerable<API.Objects._2iUsers>
@{
    ViewBag.Title = "ViewGrid";
}

<div class="container">
    <h2>User Summary and List</h2>

    <p>
        @Html.ActionLink("Create New", "UserForm")
    </p>

    <div class="row">

        <div class="col-lg-12">
            <div class='tableauPlaceholder' id='viz1535074361049' style='position: relative'>
            <noscript><a href='#'><img alt='Dashboard 1 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;te&#47;test_2744&#47;Dashboard1&#47;1_rss.png' style='border: none' /></a></noscript>
            <object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='test_2744&#47;Dashboard1' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;te&#47;test_2744&#47;Dashboard1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='filter' value='publish=yes' /></object></div>
            <script type='text/javascript'>var divElement = document.getElementById('viz1535074361049');
                var vizElement = divElement.getElementsByTagName('object')[0];
                vizElement.style.minWidth = '420px';
              
                vizElement.style.width = '100%';
                vizElement.style.minHeight = '587px';
                vizElement.style.maxHeight = '600px';
                vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px';
                var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>

        </div>
    
        <div class="col-lg-12">
            <h2>User List</h2>
        </div>
    <div class="col-lg-12">
        @{Html.Telerik().Grid(Model)
                                                .Name("MyGrid")

                                                .Columns(col =>
                                                {
                                                    col.Bound(o => o.First_Name).Title("First Name").Groupable(false);
                                                    col.Bound(o => o.Middle_Name).Title("Middle Name").Groupable(false);
                                                    col.Bound(o => o.Last_Name).Title("Last Name").Groupable(false);
                                                    col.Bound(o => o.Email).Groupable(false);
                                                    col.Bound(o => o.Mobile_Number).Title("Mobile Number").Groupable(false);
                                                    col.Bound(o => o.Nationality).Groupable(true);
                                                    col.Bound(o => o.Occuption).Groupable(true);
                                                    col.Bound(o => o.Street).Groupable(false);
                                                    col.Bound(o => o.City).Groupable(true);

                                                }).Pageable(a => a.PageSize(10))
                                                .Groupable()
                                                .Sortable()
                                                .Filterable()
                                                .Render();


        }
    </div>
    </div>
    <style>
        .t-grouping-header, .t-grouping-dropclue{
            height:auto !important;
        }
        .t-header{
            height:40px;
        }
        .t-grid-header .t-header .t-link {
            height: auto !important;
        }
    </style>

    @(Html.Telerik().StyleSheetRegistrar().DefaultGroup(group => group.Add("telerik.common.css").Add("telerik.default.css").Combined(true).Compress(true)))
    @(Html.Telerik().ScriptRegistrar())
</div>